#newPostForm{display:none;}#newPost>div>button{margin-right:.3rem;}
.posts{display: flex;justify-content: center;overflow-x: hidden;}
.post{width:20rem;height:10rem;box-shadow:0 0 0 .25rem rgba(255,255,255,.6);margin:1rem 1rem;border-radius: .25rem;background-color: #ffffff;}
